<!-- Piwik -->
<script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["trackPageView"]);
            _paq.push(["enableLinkTracking"]);

            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{{piwik.domain.de}}/";
                _paq.push(["setTrackerUrl", u+"piwik.php"]);
                _paq.push(["setSiteId", "{{piwik_site_id}}"]);
                var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
                g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
            })();
</script>
<!-- End Piwik Code -->
<noscript>
    <img src="http://{{piwik.domain.tld}}/piwik.php?idsite={{piwik_site_id}}&amp;rec=1" style="border:0" alt="" />
    </noscript>
<!-- piwik integration end -->

