Package: sidu-base-systemd
Source: sidu-base
Version: 2014.04.07
Architecture: all
Maintainer: J. Hamatoma <hama@siduction.net>
Installed-Size: 70
Depends: init-system-helpers (>= 1.18~), sidu-base (= 2014.04.07)
Section: web
Priority: optional
Homepage: http://siduction.org
Description: integration of sidu-base into systemd
 Necessary in desktop environments.
