*.pyc
.coverage
/.settings
/sqlite.db

## don't track build crap
/debian/files
/debian/*.debhelper.log
/debian/*.substvars
/debian/*.debhelper
/debian/sidu-base/

/backend/sdc_lvm.sh
/backend/sdc_partinfo.pl
/backend/sdc_partinfo.sh
/config/after/
/config/before/
/doc/tk_old.html
