*.pyc
.coverage
.settings
sqlite.db

## don't track build crap
debian/files
debian/sidu-base.debhelper.log
debian/sidu-base.substvars
debian/sidu-base.postinst.debhelper
debian/sidu-base.postrm.debhelper
debian/sidu-base.prerm.debhelper
debian/sidu-base/
debian/source/

