Source: sidu-base
Section: web 
Priority: optional
Maintainer: J. Hamatoma <hama@siduction.net>
Uploaders: Alf Gaida <agaida@siduction.org>,
 Hendrik Lehmbruch <hendrikl@siduction.org>,
 Ferdinand Thommes <devil@siduction.org>,
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.5
Homepage: http://siduction.org
Vcs-git: git://git3@git.siduction.org:code/sidu-base
Vcs-Browser: http://git.siduction.org/?p=code/sidu-base.git

Package: sidu-base
Architecture: all
Depends:
 ${misc:Depends},
 python (>= 2.7),
 python-support (>= 0.90),
 lsb-base,
 sudo,
Breaks: siguibui,
Replaces: siguibui,
Description: Toolkit for Django (Python) based GUI applications 
 The approach: a easy and quick possibility to create browser based
 application.
 Includes a shellserver: a daemon waits for predefined tasks written
 as Bash scripts. The communication (in both directions) is done by
 files. Tasks can be executed as root or as another user.
