MAIN:
<div id="text_area">
<h1>{{unknown.txt_title}}</h1>
<div class="textblock">
<p>{{unknown.txt_descr}}</p>
<br/>
<p class="center">
<input type="submit" name="button_home" value="{{unknown.txt_button_home}}" />
</p>
</div>
</div>
